<!-- DOCTYPE HTML  -->
<html>
<!--
    pass-poc by parabirb
-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pass-poc</title>
    <style>
        body {
            font-family: "Helvetica", "Arial", "Segoe UI", "Roboto", "Bitstream Vera", -apple-system, sans-serif;
        }

        .split {
            text-align: center;
        }

        .inner {
            margin: 5vw;
        }
    </style>
</head>
<body>
<div class="split">
    <div class="inner">
        <h1>pass-poc</h1>
        <p>A proof of concept for secure vaccination passports based on Ed25519.</p>
    </div>
    <div class="inner" id="reader-container">
        <h2><a href="/create-passport">Add Passport</a></h2>
    </div>
    <div class="inner" id="reader-container">
        <h2><a href="/passport">Passport</a></h2>
    </div>
    <div class="inner" id="reader-container">
        <h2><a href="/verify">Verify Passport</a></h2>
    </div>
    <div class="inner" id="reader-container">
        <h2><a href="/medical">Medical Panel</a></h2>
    </div>
</div>
</body>
</html>